{{!-- Index will be inserted into the body hook in the default layout.hbs --}}
<h1>MONGODB - EXERCISE</h1>
<div class="container">
    <div class ="row">
        <section class="insert col-lg-3 col-md-3 col-sm-6 col-sm-6">
            <h3>Insert Data</h3>
            <form action="/insert" method="post">
                <div class="input">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="input">
                    <label for="color">Color</label>
                    <input type="color" name="color" value="#ff0000">
                </div>
                <div class="input">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="phone" placeholder="(XXX)-XXX-XXXX">
                </div>
                <div class="input">
                    <label for="gender">Gender</label>
                    <input type="radio" name="gender" value="Male"> Male<br>
                    <input type="radio" name="gender" value="Female"> Female<br>
                </div>
                <div class="input">
                    <label for="vehicle">Vehicle</label>
                    <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
                    <input type="checkbox" name="vehicle" value="Car"> I have a car<br>
                </div>
                <div class="input">
                    <label for="number">Lucky Number</label>
                    <input type="number" name="number" min="1" max="100">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-md">INSERT</button>
            </form>
        </section>
        <section class="get col-lg-3 col-md-3 col-sm-6 col-sm-6">
            <h3>Get Data</h3>
            <a href="/get-data">LOAD DATA</a>
            <div>
                {{# each items }}
                    <article class="item">
                        <div><span>Name:</span> {{ this.name }}</div>
                        <div>Color: {{ this.color }}</div>
                        <div>Phone Number: {{ this.phone }}</div>
                        <div>Gender: {{ this.gender }}</div>
                        <div>Number: {{ this.number }}</div>
                        <div>Vehicle: {{ this.vehicle }}</div>
                        <div>ID: {{ this._id }}</div>

                        <div id="{{this._id}}">
                            <div class="id" style="display: none;">{{this._id}}</div>
                            <div class="name" style="display: none;">{{this.name}}</div>
                            <div class="color" style="display: none;">{{this.color}}</div>
                            <div class="phone" style="display: none;">{{this.phone}}</div>
                            <div class="gender" style="display: none;">{{this.gender}}</div>
                            <div class="number" style="display: none;">{{this.number}}</div>
                            <div class="vehicle" style="display: none;">{{this.vehicle}}</div>
                            <button type="button" class="editBtn hiddenBtn btn btn-info btn-xs" onclick="fillInfo('{{this._id}}')">Edit</button>
                            <button type="button" class="editBtn hiddenBtn btn btn-warning btn-xs" onclick="fillDel('{{this._id}}')">Del</button>
                        </div>

                    </article>
                {{/each}}
            </div>
        </section>
        <section class="update col-lg-3 col-md-3 col-sm-6 col-sm-6">
            <h3>Update Data</h3>
            <br>
            <button type="button" class="btn btn-default btn-md" onclick="toggleBtn()">Enable Edits</button>
            <form action="/update" method="post">
                <div class="input">
                    <label for="id">ID</label>
                    <input type="text" id="updateId" name="id">
                </div>
                <div class="input">
                    <label for="name">Name</label>
                    <input type="text" id="updateName" name="name">
                </div>
                <div class="input">
                    <label for="color">Color</label>
                    <input type="color" name="color" id="updateColor" value="#ff0000">
                </div>
                <div class="input">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="updatePhone" name="phone" placeholder="(XXX)-XXX-XXXX">
                </div>
                <div class="input">
                    <label for="gender">Gender</label>
                    <input type="radio" name="gender" id="updateMale" value="Male"> Male<br>
                    <input type="radio" name="gender" id="updateFemale" value="Female"> Female<br>
                </div>
                <div class="input">
                    <label for="vehicle">Vehicle</label>
                    <input type="checkbox" name="vehicle" id="updateBike" value="Bike"> I have a bike<br>
                    <input type="checkbox" name="vehicle" id="updateCar" value="Car"> I have a car<br>
                </div>
                <div class="input">
                    <label for="number">Lucky Number</label>
                    <input type="number" name="number" min="1" id="updateNumber" max="100">
                </div>
                <br>
                <button type="submit" class="btn btn-warning btn-md">UPDATE</button>

            </form>
        </section>
        </section>
        <div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
        <section class="delete col-lg-3 col-md-3 col-sm-6 col-sm-6">
            <h3>Delete Data</h3>
            <form action="/delete" method="post">
                <div class="input">
                    <label for="id">ID</label>
                    <input type="text" id="deleteId" name="id">
                </div>
                <br>
                <button type="submit" class="btn btn-default btn-success">DELETE</button>
            </form>
        </section>
    </div>
</div>